extends ../_extends/extends_html5_prototype.pug

block variables
  - var title = '폼 양식'

block content
  main
    header.cl-header
      h1 폼 양식
    .prototype-menu
      ul
        li
          a(href=`${path}/src/html/cl.html`) 페이지 리스트
        li
          a(href=`${path}/src/html/prototype/prototype_list.html`) 프로토타입
        li
          a(href=`${path}/src/html/prototype/prototype_layout.html`) 레이아웃
        li.active
          a(href=`${path}/src/html/prototype/prototype_form.html`) 폼 양식
        li
          a(href=`${path}/src/html/prototype/prototype_components_list.html`) 컴포넌트
