doctype html
html(lang="ko")
  head
    block variables
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    meta(property="og:title", content=ogTitle || "")
    meta(property="og:description", content=ogDescription || "")
    title #{title}
    link(rel="stylesheet", href=`${path}/src/css/common.css` type="text/css")
    block css
  body
    div#wrap
      a.skipnav(href="#main") 주요 콘텐츠로 건너뛰기
      include ../_includes/header.pug
      #container
        block content
        
    
    //- include ../_includes/footer.pug
    
    //- include ../_includes/nudge.pug

block script
  script(src=`${path}/src/js/libs/jquery.js`)
  script(src=`${path}/src/js/libs/swiper.min.5.4.5.js`)
  script(type="module", src=`${path}/src/js/common.ui.js`)